* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', 'sem serifa';
    width: 100%;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
