.collection-items {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .items {
    text-align: center;
    padding: 10px;
  }
  
  .items img {
    width: 136px;
    height: 160px;
    margin-bottom: 10px;
  }
  
  .items h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .items p {
    font-size: 14px;
  }
  
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .slick-prev {
    left: -40px;
  }
  
  .slick-next {
    right: -40px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    content: '\2039';
    font-size: 20px;
  }
  
  .slick-next:before {
    content: '\203A';
  }
  
  .carousel-margin {
    margin-top: 20px; /* Espaçamento entre os carrosséis */
  }
  