.header {
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  max-width: 900px;
  margin-left: 150px;
}

.conteiner-mercado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mercado-modelo {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.logo-mercado {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.mercado-modelo p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

.buttons {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:not(:last-child) {
  margin-right: 10px;
}

button.my-list-button:hover,
button.my-account-button:hover,
button.cart-button:hover {
  background-color: #dedede;
  color: #fff;
}
