.loc {
    background-color: #35a535;
    color: #ffffff;
    padding: 3px;
    margin-bottom:12px;
    margin-top: 0px;
    width: 100vw;
}
.localiza{
   align-items: center;
   margin-left: 140px; 
}