.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  margin-top: 2px;
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  max-width: 900px;
  margin-left: 150px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

.buttons {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #ffff;
  border: #fff;
}

button:not(:last-child) {
  margin-right: 10px;
}

.img-churras {
  width: 24px;
  height: 22px;
}

button.inicio:hover,
button.categorias:hover,
button.ofertass:hover,
button.kit-churrass:hover {
  background-color: #dedede;
  color: #fff;
}
