
.carousel-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .carousel-item {
    text-align: center;
    padding: 10px;
    background-color: #ffff;
  }
  
  .carousel-item img {
    width: 136px;
    height: 160px;
    margin-bottom: 10px;
  }
  
  .carousel-item h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .carousel-item p {
    font-size: 14px;
  }
  
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
  }
  
  .slick-prev {
    left: -40px;
  }
  
  .slick-next {
    right: -40px;
  }
  
  .slick-prev:before, .slick-next:before {
    content: '\2039';
    font-size: 20px;
  }
  
  .slick-next:before {
    content: '\203A';
  }
  .price-promo{
    color:#e91e63 ;
  }
  .price .old-price{
    font-family: 'Poppins',Verdana,sans-serif;
    font-weight: lighter;
    
  }
  .carousel-item .nome-produto{
    font-family: 'Poppins',Verdana,sans-serif;
    color: #757575;
}
#ofertas{
  
  
}
#oferta-img{
  width: 2rem;
  height: 2rem;
  color: #43b02a;
 
  
  
}