.Buttons {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 7px;
  max-width: 900px;
}

.cart-button {
  display: flex;
  align-items: center; 
  font-size: 19px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3px; 
  margin-right: 35px;
   padding: 8px 15px 8px 8px; 
   position: relative;
} 

.cart-button span {
  margin-right: 3px; 
}

.cart-button:hover {
  background-color: #dedede;
  color: #fff;
}
.cart-status{
  background-color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  color:white;
  font-size: 11px;
  font-weight: 600;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-name{
  margin-left: 9px;
  font-weight: 100;
}
#carrinho-icon{
  background-color:#43b02a;
}

